.bg-tag {
	background: linear-gradient(to bottom, #ffe57c, #fffefa);
	border: 1px solid white;
	border-radius: 12px;
	padding: 1px 3px;
}

.bg-reward-circle {
	//background: url('@src/assets/bg/bg_reward_circle.png') top center/100% no-repeat;
}
